{% extends 'base.html' %}

{% block title %}ТҮТҮН{% endblock %}

{% block content %}
    <section class="banner">
        <div class="slide">
          <div class="description">
            <h1>Premium comfort</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti similique fugit expedita commodi, consectetur, eligendi.</p>
          </div>
          <img src="https://user-images.githubusercontent.com/52452/42075807-a4f568fc-7b40-11e8-8024-d4183c805a69.png" width="350" height="350" alt="banner image">
        </div>
    </section>

    <section class="shop-items">
      {% for liquid in liquids %}
      <div class="shop-item">
          <a href="{% url 'liquid_detail' liquid.id %}" class="shop-item--container">
            <div class="meta">
              <span class="tag">Хит</span>
            </div>
            <img src="{{ liquid.cover_image.url }}" width="250" height="240" alt="liquid image">
          </a>
          <div class="title">
            <h3><a href="{% url 'liquid_detail' liquid.id %}">{{ liquid.name }}</a></h3>
          </div>
          <div class="price"><span>{{ liquid.price }}</span></div>
      </div>
      {% endfor %}

  </section>

{% endblock content %}